<h1>Editing receivable</h1>

<%= render "form", receivable: @receivable %>

<br>

<div>
  <%= link_to "Show this receivable", @receivable %> |
  <%= link_to "Back to receivables", receivables_path %>
</div>
